<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
  <ion-card *ngFor="let p of profile">
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label class="centered">{{p.Name}}</ion-label>
      <ion-button fill="outline" slot="end" (click)="initModal()" >Edit</ion-button>
      <p *ngIf="modalDataResponse">{{modalDataResponse}}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="ribbon-outline" slot="start"></ion-icon>

      <ion-label class="centered">Specialty: {{p.Speciality}}</ion-label>
      
      <ion-icon name="accessibility" slot="end"></ion-icon>
    </ion-item>
    <ion-card>
      <ion-card-content>
      <ion-card-subtitle>Thank you for your efforts and thank you for making this gym a great place.</ion-card-subtitle>
      <br> 
      <ion-card-title>
        <ion-icon name="people-circle-outline"></ion-icon> 
        {{p.NbOfTrainees}} clients trained
      </ion-card-title>
      <br> 
      <ion-card-title>
        <ion-icon name="hourglass-outline"></ion-icon>
        {{p.ActiveHours}} hours of training
      </ion-card-title>
    </ion-card-content>
    </ion-card>
  </ion-card>

  <ion-card class="centered"> 
    <ion-card-title class="spaced">
      <ion-icon name="barbell-outline"></ion-icon>

      <span class="spaced">Qualifications</span>

      <ion-icon name="school-outline"></ion-icon>
    </ion-card-title>
  </ion-card>

  <ion-card *ngFor="let q of qualifications">
    <ion-card-header>
      <ion-card-subtitle>{{q.Year}}</ion-card-subtitle>
      <ion-card-title>{{q.Certificate}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{q.source}}
    </ion-card-content>
  </ion-card>
  </div>
  

</ion-content>
