<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
  <ion-card *ngFor="let p of profile">
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>{{p.Name}}</ion-label>
      <ion-button fill="outline" slot="end" (click)="initModal()" >Edit</ion-button>
      <p *ngIf="modalDataResponse">{{modalDataResponse}}</p>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Specialty</ion-label>
      <ion-label>{{p.Speciality}}</ion-label>
      <ion-icon name="accessibility" slot="end"></ion-icon>
    </ion-item>
  
    <ion-card-content>
      Thank you for your efforts and thank you for making this gym a great place.
      <br>
      You have trained {{p.NbOfTrainees}} clients so far
      <br> 
      You have provided {{p.ActiveHours}} hours of training with us
    </ion-card-content>
  </ion-card>


  <ion-card *ngFor="let q of qualifications">
    <ion-card-header>
      <ion-card-subtitle>{{q.Year}}</ion-card-subtitle>
      <ion-card-title>{{q.Certificate}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{q.source}}
    </ion-card-content>
  </ion-card>
  </div>
  

</ion-content>
