<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fees
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
  <ion-item>
    <ion-searchbar showCancelButton="never" slot="start"></ion-searchbar>
  </ion-item>

  <ion-item>
    <ion-icon name="filter"></ion-icon>
    <ion-select value="">
      <ion-select-option value="name">Name</ion-select-option>
      <ion-select-option value="session">Session Type</ion-select-option>
      <ion-select-option value="month">Month</ion-select-option>
    </ion-select>
  </ion-item>
</ion-item>

  <ion-list *ngFor="let fee of fees">
    <ion-item>
      {{fee.Customer}}
    </ion-item>

  </ion-list>

  

</ion-content>
