<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fees
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
  <ion-item>
    <ion-searchbar showCancelButton="never" slot="start"></ion-searchbar>
  </ion-item>

  <ion-item>
    <ion-icon name="filter"></ion-icon>
    <ion-select value="">
      <ion-select-option value="name">Name</ion-select-option>
      <ion-select-option value="session">Session Type</ion-select-option>
      <ion-select-option value="month">Month</ion-select-option>
    </ion-select>
  </ion-item>
</ion-item>

<ion-grid id="header">
  <ion-row>
    <ion-col>
      <div>Name</div>
    </ion-col>
    <ion-col>
      <div>Date</div>
    </ion-col>
    <ion-col>
      <div>Session Type</div>
    </ion-col>
    <ion-col>
      <div>Fees ($)</div>
    </ion-col>
  </ion-row>
</ion-grid>
  <ion-grid *ngFor="let fee of fees">
    <ion-row>
      <ion-col>
        <div>{{fee.Customer}}</div>
      </ion-col>
      <ion-col>
        <div>{{fee.Date}}</div>
      </ion-col>
      <ion-col>
        <div>{{fee.SessionType}}</div>
      </ion-col>
      <ion-col>
        <div>{{fee.Amount}}</div>
      </ion-col>
      <ion-item ngIf="fee.SUM(Amount)">
        <ion-icon name="money"></ion-icon>
        <ion-label>Total Amount:</ion-label>
        <ion-label>{{fee.SUM(Amount)}}</ion-label>
      </ion-item>
    </ion-row>
    
  </ion-grid>
  

  

</ion-content>
