<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fees
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-button color="primary" (click)="initModal()">This Month's Fees</ion-button>
    <ion-button color="primary" slot="end">Attendance</ion-button>
  </ion-item>
  //Needs Backend 
  <ion-item>
    <ion-searchbar showCancelButton="never" slot="start"></ion-searchbar>
  </ion-item>


<ion-grid id="header">
  <ion-row>
    <ion-col>
      <div>Name</div>
    </ion-col>
    <ion-col>
      <div>Date</div>
    </ion-col>
    <ion-col>
      <div>Session Type</div>
    </ion-col>
    <ion-col>
      <div>Fees ($)</div>
    </ion-col>
  </ion-row>
</ion-grid>
  <ion-grid *ngFor="let fee of fees">
    <ion-row>
      <ion-col>
        <div>{{fee.Customer}}</div>
      </ion-col>
      <ion-col>
        <div>{{fee.Date}}</div>
      </ion-col>
      <ion-col>
        <div>{{fee.SessionType}}</div>
      </ion-col>
      <ion-col>
        <div>{{fee.Amount}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item *ngFor="let t of total">
    <ion-label slot="start">Total Fees:</ion-label>
    <ion-label slot="end">{{t}} $</ion-label>
  </ion-item>

  

</ion-content>
